  <div id="login">
    <h1>Login</h1>
    <form method="POST" action="/login">
      <div class="form-group">
        <label for="username">Username: &nbsp; </label>
        <input type="text" id="username" name="username" class="form-control login-box">
      </div>
      <div class="form-group">
        <label for="password">Password: &nbsp; </label>
        <input type="password" id="password" name="password" class="form-control login-box">
      </div>
      <div>
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </form>
  </div>
<br>
Don't have an account?
<br>
<a href="/signup"> Signup </a>
